/* Estilos completos para el formulario de inicio de sesión */

/* Estilos del contenedor principal */
.inicio-sesion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/fondo.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
  }
  
  /* Estilos del formulario de inicio de sesión */
  .inicio-sesion-form {
    width: 350px; /* Ancho del contenedor */
  height: auto; /* Alto ajustado automáticamente */
  padding: 50px; /* Ajusta el padding para que sea más compacto */
  border: 1px solid #2E49BB;
  border-radius: 20px;
  background-color: #2E49BB;
  text-align: center; /* Centra el texto y elementos dentro del formulario */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

  
  /* Estilos para el título del formulario */
  .inicio-sesion-form h2 {
    margin-bottom: 30px;
    margin-top: 0px; /* Ajusta el margen superior para posicionar el texto más arriba */
    font-size: 49px; /* Ajusta el tamaño del texto */
    color: white; /* Cambia el color del texto si es necesario */
  }
  
  /* Estilos para los campos del formulario */
  .form-control {
    margin-bottom: 30px; /* Ajusta el margen inferior de los campos */
  }
  
  .form-control label {
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
    color: white; /* Cambia el color del texto de la etiqueta si es necesario */
    font-size: 20px; /* Cambia el tamaño del texto */
  }
  
  .input-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    color: black; /* Cambia el color del icono */
    font-size: 20px; /* Tamaño del icono */
  }
  
  .form-control input {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Ajusta el padding para dejar espacio al icono */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 30px; /* Borde redondeado */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  }
  
  .form-control input:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
  /* Estilos para el botón del formulario */
  button {
    width: 70%;
    padding: 20px;
    background-color: #1A1D32;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  }
  
  button:hover {
    background-color: #0073e6;
  }
  
  /* Estilos para el enlace de registro */
  .register-link {
    margin-top: 40px; /* Ajusta el margen superior del enlace de registro */
    text-align: center;
    color: white; /* Cambia el color del texto del enlace */
  }
  
  .register-link a {
    color: #89D2FD; /* Cambia el color del enlace */
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
    color: #89D2FD; /* Cambia el color del enlace al pasar el mouse */
  }  
